/**hero container styles**/
.orbit-container {
	background-color: $light-grey;
	margin-bottom: 30px;

	.orbit-bullets, .orbit-prev, .orbit-next, .orbit-timer, .orbit-slide-number {
		display: none;
	}
}