/**larusi_styles**/


/**colors**/
$light-grey: #ededed;
/**end colours**/

/**font**/
@font-face {
    font-family: 'MYRIADPRO-COND';
    src: url('../fonts/MYRIADPRO-COND.OTF'); /* IE9 Compat Modes */
  }

  h2, h3, p {
    font-family: 'MYRIADPRO-COND';
  }

  h2, h3 {
    font-size: 27px;
  }

  p {
    font-size: 20px;
    line-height: 20px;
  }
/**end font**/

/**wireframe styles**/

.product_container {
  background-color: #cccccc;
  height: 295px;
  margin-bottom: 11px;
  height: auto;
  position: relative;
}

.hero {
  max-width: none;
}

.example-orbit {
  width: 100%;
}


/**header**/
header {
  height: 125px;
  position: relative;
}

img {
  width: 100%;
}


/**end header**/

/**footer**/
.big_bottom {

}

.sml_bottom {

}

.grey_cont {
  background-color: #d8d8d8;
  width: 100%;
}

.big_bottom .large-12 {
  height: 20%;
  display: block;
  margin: 20px 0px;
}
/**end footer**/

/**end of wireframe styles**/





/**larusi styles - add wireframe later**/


body, article {
	background-color: $light-grey;
	height: 100%;

	a {
		font-family: 'MYRIADPRO-COND';
		font-weight: 300;
	}
}

/**nav**/
header {
	height: 80px;

	nav,top-bar {
		background-color: $light-grey;
		height: 80px;
		.title-area {
			height: 80px;
		}

		.menu-icon {
			img {
				width: 60%;
				margin-top: 5px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		img {
			margin-top: 10px;
			width: 75%;
		}

		.name {
			background-color: $light-grey;
			height: 100%;
		}

		.top-bar-section {
			ul {
				position: relative;
				z-index: 999;

				li {
					position: relative;
					height: 54px;
				}

				li a {
					font-weight: 300!important;
					font-size: 1.2em;
				}
			}

			li:hover a:not(.button) {
				background: $light-grey;
				color: black;
			}

			.has-dropdown > a:after {
				background: url(../img/dropdown_icon.png) top center no-repeat;
				width: 10px;
				height: 10px;
				border: none;
				border-color: transparent;
				margin-top: -5px;
			}
		}
	}
}
/**end nav**/

/**textoverlay**/

article {
	.text_overlay {
		height: 40px;
		background: transparent url(../img/opacity-50-color.png) top left repeat;
		position: absolute;
		bottom: 0px;
		width: 100%;

		a {
			color: white;
			font-size: 27px;
			text-align: center;
			padding-top: 4%;
			width: 100%;
			display: block;
			font-weight: normal;
		}
	}


}
/**end text overlay**/

/**footer**/
footer { 
	margin-top: 30px;

	h2 {
		margin-bottom: 0px; 
	}

	.grey_cont {
		height: auto;
		margin-bottom: 10px;

		&.ceiling {
			padding-bottom: 30px;
		}

		&.floor {
			margin-bottom: 0px;
			height: 105px;
			padding-top: 20px;
		}
	}

	ul li {
		font-family: 'helvetica-neue', helvetica, sans-serif;
		font-weight: 300;
		list-style: none;
		float: left;
		font-size: 16px;
		margin-right: 15px;

		&.no_float {
			float: none;
		}

		a {
			font-family: 'helvetica-neue', helvetica, sans-serif;
			color: #333333;
		}
	}
}
/**end footer**/


/**end styles**/


/**media queries**/

@media only screen and (min-width: 940px) {
header {
	nav.top-bar {
		height: 125px;

		img {
			margin-top: 15px;
		}

		.top-bar-section {
			ul li a {
				font-weight: 300!important;
			}

			li:hover a:not(.button) {
				background: $light-grey;
				color: black;
			}

			.has-dropdown > a:after {
				background: url(../img/dropdown_icon.png) top center no-repeat;
				width: 10px;
				height: 10px;
				border: none;
				border-color: transparent;
				margin-top: -5px;
			}
		}
	}
}
/**end nav**/



	ul.top-bar {
	  background-color: $light-grey;
	  color: #666666;
	  position: absolute;
	  bottom: 0px;
	  width: 100%;
	  height: 100%;
	  margin-bottom: 0px;

	  img {
			margin-top: 0px;
			width: 100%;
		}
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
	  background-color: $light-grey;
	  color: #666666;
	  font-family: 'MYRIADPRO-COND';
	  font-size: 22px;
	  letter-spacing: -1px;
	}

	.top-bar-section li:not(.has-form) a:not(.button):hover {
	  background-color: $light-grey;
	  color: black;
	  font-family: 'MYRIADPRO-COND';
	}

	.top-bar-section {
	  bottom: 0px;
	  position: absolute;
	  right: 0px!important;


	}

	.title-area {
	  position: absolute;
	  bottom: 0px;
	}
}

/**end media queries**/
