/**larusi_styles**/
/**colors**/
/**end colours**/
/**font**/

/* line 14, ../sass/larusi_styles.scss */
h2, h3, p {
  font-family: 'myriad-pro-semi-condensed';
}

/* line 18, ../sass/larusi_styles.scss */
h2, h3 {
  font-size: 27px;
}

/* line 22, ../sass/larusi_styles.scss */
p {
  font-size: 20px;
  line-height: 20px;
}

/**end font**/
/**wireframe styles**/
/* line 30, ../sass/larusi_styles.scss */
.product_container {
  background-color: #cccccc;
  height: 295px;
  margin-bottom: 11px;
  height: auto;
  position: relative;
}

/* line 38, ../sass/larusi_styles.scss */
.hero {
  max-width: none;
}

/* line 42, ../sass/larusi_styles.scss */
.example-orbit {
  width: 100%;
}

/**header**/
/* line 48, ../sass/larusi_styles.scss */
header {
  height: 125px;
  position: relative;
}

/* line 53, ../sass/larusi_styles.scss */
img {
  width: 100%;
}

/**end header**/
/**footer**/
/* line 69, ../sass/larusi_styles.scss */
.grey_cont {
  background-color: #d8d8d8;
  width: 100%;
}

/* line 74, ../sass/larusi_styles.scss */
.big_bottom .large-12 {
  height: 20%;
  display: block;
  margin: 20px 0px;
}

/**end footer**/
/**end of wireframe styles**/
/**larusi styles - add wireframe later**/
/* line 90, ../sass/larusi_styles.scss */
body, article {
  background-color: #ededed;
  height: 100%;
}
/* line 94, ../sass/larusi_styles.scss */
body a, article a {
  font-family: 'myriad-pro-semi-condensed';
  font-weight: 300;
}

/**nav**/
/* line 101, ../sass/larusi_styles.scss */
header {
  height: 80px;
}
/* line 104, ../sass/larusi_styles.scss */
header nav, header top-bar {
  background-color: #ededed;
  height: 80px;
}
/* line 107, ../sass/larusi_styles.scss */
header nav .title-area, header top-bar .title-area {
  height: 80px;
}
/* line 112, ../sass/larusi_styles.scss */
header nav .menu-icon img, header top-bar .menu-icon img {
  width: 60%;
  margin-top: 5px;
}
/* line 117, ../sass/larusi_styles.scss */
header nav .menu-icon:hover, header top-bar .menu-icon:hover {
  cursor: pointer;
}
/* line 122, ../sass/larusi_styles.scss */
header nav img, header top-bar img {
  margin-top: 10px;
  width: 75%;
}
/* line 127, ../sass/larusi_styles.scss */
header nav .name, header top-bar .name {
  background-color: #ededed;
  height: 100%;
}
/* line 133, ../sass/larusi_styles.scss */
header nav .top-bar-section ul, header top-bar .top-bar-section ul {
  position: relative;
  z-index: 999;
}
/* line 137, ../sass/larusi_styles.scss */
header nav .top-bar-section ul li, header top-bar .top-bar-section ul li {
  position: relative;
  height: 54px;
}
/* line 142, ../sass/larusi_styles.scss */
header nav .top-bar-section ul li a, header top-bar .top-bar-section ul li a {
  font-weight: 300!important;
  font-size: 1.2em;
}
/* line 148, ../sass/larusi_styles.scss */
header nav .top-bar-section li:hover a:not(.button), header top-bar .top-bar-section li:hover a:not(.button) {
  background: #ededed;
  color: black;
}
/* line 153, ../sass/larusi_styles.scss */
header nav .top-bar-section .has-dropdown > a:after, header top-bar .top-bar-section .has-dropdown > a:after {
  background: url(../img/dropdown_icon.png) top center no-repeat;
  width: 10px;
  height: 10px;
  border: none;
  border-color: transparent;
  margin-top: -5px;
}

/**end nav**/
/**textoverlay**/
/* line 169, ../sass/larusi_styles.scss */
article .text_overlay {
  height: 40px;
  background: transparent url(../img/opacity-50-color.png) top left repeat;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 176, ../sass/larusi_styles.scss */
article .text_overlay a {
  color: white;
  font-size: 27px;
  text-align: center;
  padding-top: 4%;
  width: 100%;
  display: block;
  font-weight: normal;
}

/**end text overlay**/
/**footer**/
/* line 192, ../sass/larusi_styles.scss */
footer {
  margin-top: 30px;
}
/* line 195, ../sass/larusi_styles.scss */
footer h2 {
  margin-bottom: 0px;
}
/* line 199, ../sass/larusi_styles.scss */
footer .grey_cont {
  height: auto;
  margin-bottom: 10px;
}
/* line 203, ../sass/larusi_styles.scss */
footer .grey_cont.ceiling {
  padding-bottom: 30px;
}
/* line 207, ../sass/larusi_styles.scss */
footer .grey_cont.floor {
  margin-bottom: 0px;
  height: 105px;
  padding-top: 20px;
}
/* line 214, ../sass/larusi_styles.scss */
footer ul li {
  font-family: 'helvetica-neue', helvetica, sans-serif;
  font-weight: 300;
  list-style: none;
  float: left;
  font-size: 16px;
  margin-right: 15px;
}
/* line 222, ../sass/larusi_styles.scss */
footer ul li.no_float {
  float: none;
}
/* line 226, ../sass/larusi_styles.scss */
footer ul li a {
  font-family: 'helvetica-neue', helvetica, sans-serif;
  color: #333333;
}

/**end footer**/
/**end styles**/
/**media queries**/
@media only screen and (min-width: 940px) {
  /* line 242, ../sass/larusi_styles.scss */
  header nav.top-bar {
    height: 125px;
  }
  /* line 245, ../sass/larusi_styles.scss */
  header nav.top-bar img {
    margin-top: 15px;
  }
  /* line 250, ../sass/larusi_styles.scss */
  header nav.top-bar .top-bar-section ul li a {
    font-weight: 300!important;
  }
  /* line 254, ../sass/larusi_styles.scss */
  header nav.top-bar .top-bar-section li:hover a:not(.button) {
    background: #ededed;
    color: black;
  }
  /* line 259, ../sass/larusi_styles.scss */
  header nav.top-bar .top-bar-section .has-dropdown > a:after {
    background: url(../img/dropdown_icon.png) top center no-repeat;
    width: 10px;
    height: 10px;
    border: none;
    border-color: transparent;
    margin-top: -5px;
  }

  /**end nav**/
  /* line 274, ../sass/larusi_styles.scss */
  ul.top-bar {
    background-color: #ededed;
    color: #666666;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  /* line 283, ../sass/larusi_styles.scss */
  ul.top-bar img {
    margin-top: 0px;
    width: 100%;
  }

  /* line 289, ../sass/larusi_styles.scss */
  .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #ededed;
    color: #666666;
    font-family: 'myriad-pro-semi-condensed';
    font-size: 22px;
    letter-spacing: -1px;
  }

  /* line 297, ../sass/larusi_styles.scss */
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #ededed;
    color: black;
    font-family: 'myriad-pro-semi-condensed';
  }

  /* line 303, ../sass/larusi_styles.scss */
  .top-bar-section {
    bottom: 0px;
    position: absolute;
    right: 0px!important;
  }

  /* line 311, ../sass/larusi_styles.scss */
  .title-area {
    position: absolute;
    bottom: 0px;
  }
}
/**end media queries**/
